<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- В каком пакете искать мапперы -->
        <package name="learn.mybatis"/>
    </typeAliases>
    <mappers>
        <!-- Конфигурации мапперов -->
        <mapper resource="MessagesMapper.xml"/>
    </mappers>
</configuration>